.cards {
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin: 0 auto;
}

.card {
  background-color: rgb(208, 217, 224);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 10%;
  outline: grey solid 2px;
  opacity: 1;
  transition: ease-in 0.5s opacity;
  /* animation: appear ease-in 1s forwards; */
  p {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: rgb(235, 246, 255) 0.7px;
  }
}

.end{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  p {
    font-size: 4rem;
    margin: 0;
    font-weight: bolder;
  }
  button {
    font-size: 2.7rem;
    margin-top: 10px;
  }
}

.card.choosen{
  animation: 0.5s ease-in-out rot both;
}

.card.hide{
  opacity: 0;
}

@keyframes rot {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
